<div class="container">
  <div class="jumbotron">
    <h1>SmartGis</h1>
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" (click)="home = true">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="home = false">Kontakt</a>
        </li>
      </ul>
    </div>
  </nav>
  <app-main [content]="currentContent"></app-main>

</div>
